
/*Pre.js test*/
html {
    background: #f8f8f8;
}

body {
    margin: 0;
    font-family: monospace;
    max-width: 500px;
    display: block;
    margin: auto;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    margin-top: 10vh;
    border: 1px solid #eeeeee;
    line-height: 20px;
}

h3 {
    margin-top: 30px;
}

h3:first-child {
    margin-top: 10px;
}

button {
    background: #333;
    color: #fff;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 20px;
    border: none;
    text-transform: uppercase;
    outline: none !important;
    cursor: pointer;
}
